* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 10px; }

body {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 200; }

h1, h2 {
  color: #4c4e61;
  text-align: center;
  font-size: 22px; }

h1 {
  font-weight: 200; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }
