$color-primary-red: hsl(0, 78%, 62%);
$color-primary-blue: hsl(212, 86%, 64%);
$color-primary-cyan: hsl(180, 62%, 55%);
$color-primary-orange: hsl(34, 97%, 64%);

$color-neutral-dark-blue: hsl(234, 12%, 34%);
$color-neutral-grey-blue: hsl(229, 6%, 66%);
$color-neutral-light-grey: hsl(0, 0%, 98%);

$weight-light: 200;
$weight-medium: 400;
$weight-heavy: 600;

$base-font-size: 15px;