.theme__switch {
    background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(9, 20, 56) 50%);
    border-radius: 25px;
    box-shadow: 10px 0px 2px rgba(0, 0, 0, 0.15);
    width: 100px;
    height: 50px;
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    font-family: icomoon;
    align-items: center;
    font-size: 25px;
    justify-content: space-evenly;

    &--moon {
        color: white;
    }
}