@font-face {
    font-family: icomoon;
    src: url(../../fonts/icomoon.woff)
}

body {
    font-family: Poppins;
    font-size: $base-font-size;
    font-weight: $weight-light
}

.header {
    color: $color-neutral-dark-blue;
    text-align: center;

    

    &__main {
        font-weight: $weight-light;
        
    }

    &__main, &__sub {
        font-size: calc(#{$base-font-size} + 10px);
        transition: color .2s;

        &.dark {
            color: white;
        }
    }
}

.paragraph {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    color: $color-neutral-grey-blue;
    transition: color .2s;

    &.dark {
        color: white;
    }
}

.attribution { 
    font-size: 11px; text-align: center; 

    a:link,
    a:visited { 
        color: hsl(228, 45%, 44%); 
        &.dark {
            color: hsl(228, 90%, 80%);
        }
    }
}